.userInfo {
  padding: 127px 149px 71px;
  display: flex;
  gap: 100px;
}

@media screen and (max-width: 1023px) {
  .userInfo {
    padding: 22px 10px 59px;
    flex-direction: column-reverse;
    gap: 34px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .userInfo {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .infoWrapper {
    flex-direction: column;
    text-align: center;
  }
}

.imageWrapper {
  width: 243px;
  height: 243px;
}

@media screen and (max-width: 767px) {
  .imageWrapper {
    width: 175px;
    height: 175px;
  }
}

.avatar {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .avatar {
    width: 175px;
    height: 175px;
  }
}

.title {
  padding-top: 19px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
  .title {
    padding-left: 14px;
    padding-top: 8px;
    font-size: 32px;
    line-height: 40px;
    max-width: 312px;
  }
}

.text {
  margin: 24px auto 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
}

@media screen and (max-width: 767px) {
  .text {
    margin-top: 21px;
    margin-bottom: 27px;
    max-width: 328px;
  }
}

.button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background-color: var(--button-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: var(--app-bg-color);
}
