body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #edf7fa;
  --app-bg-color: #ffffff;
  --button-color: #ff6464;
  --color-primary: #00a8cc;
  --text-color: #21243d;
  --text-light-color: #8695a4;
  --link-color: #142850;
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.fade {
  transition: all 0.6s ease-in-out;
  opacity: 1;
}

.fade:hover {
  opacity: 0.6;
}
