body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #edf7fa;
  --app-bg-color: #ffffff;
  --button-color: #ff6464;
  --button-color: #ff6464;
  /* --text-color: #00a8cc; */
  --text-color: #21243D;
  --text-light-color: #8695a4;
  --link-color: #142850;
}
